<div id="<%= dom_id document %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Título:</strong>
    <%= document.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contenido:</strong>
    <%= document.content %>
  </p>
</div>
